<web-app>
	<filter>
		<filter-name>CmsFilter</filter-name>
		<display-name>Cms Filter</display-name>
		<filter-class>claro.cms.CmsServletFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CmsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>
		<param-name>website</param-name>
		<param-value>classpath:claro.demowebshop.website</param-value>
	</context-param>
      <context-param>
        <param-name>javax.persistence.jdbc.driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
      </context-param>
      <context-param>
        <param-name>javax.persistence.jdbc.url</param-name>
        <param-value>jdbc:postgresql:catalog3</param-value>
      </context-param>
      <context-param>
        <param-name>javax.persistence.jdbc.user</param-name>
        <param-value>postgres</param-value>
      </context-param>
      <context-param>
        <param-name>javax.persistence.jdbc.password</param-name>
        <param-value>postgres</param-value>
      </context-param>
      <context-param>
        <param-name>eclipselink.cache.shared.default</param-name>
        <param-value>false</param-value>
      </context-param>
</web-app>