/** Add css rules here for your application. */

.footer {
/*    width: 900px;*/
    height: 40px;
/*    background: url(images/homepage16.gif) no-repeat left top;*/
    width: 100%;
    border-top: 1px #B3B3B3 solid;
}

.footer p {
    margin: 0px;
    padding: 27px 25px 0px 25px;
    line-height: normal;
    color: #989688;
}

.footer a {
    text-decoration: none;
    color: #989688;
    margin-left: 10px;
    margin-right: 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .links {
    float: right;
    margin-right: 50px;
}

.footer .legal {
    margin-left:50px;
}


table.catalogheader { 
	width: 100%;
    height: 85px;
    padding: 10px 0px 0px 0px;
/*    background: url(images/homepage03.gif) no-repeat left top;*/
}

table.catalogheader { 
	margin-left: 20px;
}


.mainTabPanel .gwt-TabBarItem {
  background: #f5a71f;
}

.mainTabPanel  .gwt-TabLayoutPanelTabs {
   background: url(images/homepage04.gif) repeat-x left top;
}
.mainTabPanel .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-style: solid;
/*  border-color: #d86403;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;*/
}
.mainTabPanel .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab {
    float: left;
    height: 47px;
    padding: 0px 4px 0px 0px;
	cursor: pointer;
	/*	
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #f5a71f;*/
}
.mainTabPanel .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTabInner {
	display: block;
    float: left;
    width: auto;
    height: 30px;
    padding: 17px 8px 0px 8px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
	
}

.mainTabPanel .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-selected {
/*  cursor: default;
  background: #d86403;*/
    background: url(images/homepage07.gif) repeat-x left top;
}


/** Move used styles above this line */


table.choices { margin-left: auto; margin-right: 20px; font-size: 10px; }
table.choices td {
	font-size: 10px; 
}
table.choices select {
    width:100%;
	font-size: 10px;
	padding: 2px; 
}

.itemoverallactions {
	border-bottom: 1px solid;
	border-bottom-color: #D40600;
}

.itemoverallactions button {
	margin-left: 20px;
}

.itempanel button {
	margin-left: 200px;
}

.productname {
	font-weight: bold;
}
.itempanel .productprice {
    font-size: 20px;
    margin-left: 20px;
}

.productpanel {
    width: 75%;
}

table.cxs-table table.product td {
    border: 0px;
}

table.cxs-table .productprice {
    text-align: right;
}

body, th, td, input, textarea, select {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #726936;
}
pre {
  font-family: "courier new", courier;
  font-size: small;
}
body {
/*  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: #fff;
  direction: ltr;*/
}

a {
    color: #434242;
}

a:hover {
    text-decoration: none;
}

input, select {
    background: #FFFFFF;
    border-top: 1px solid #C8C8C8;
    border-left: 1px solid #DCDCDC;
    font: normal 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #434242;
    padding: 3px;
}


.gwt-Reference-catalogmanager {
  height: 5px;
  width: 5px;
  zoom: 1;
}

/* catalogmanager button changes */

.gwt-Button {
/*  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  background: url("images/hborder.png") repeat-x 0px -989px;
  border: 1px outset #ccc;*/
}

.button1, .button2, .button3, .button4, .button5 {
    height: 18px;
    text-align: center;
    text-decoration: none;
    padding-top: 7px;
    font-size: 9px;
    font-weight: bold;
    color: white;
/*    letter-spacing: -1px;
    float: left;*/
}

button.button1, button.button2, button.button3, button.button4, button.button5 {
    border: none;
    height: 30px;
    padding-top: 0px;
    cursor: pointer;
    cursor: hand;
}

.button1 {
    background: url(images/button-47.gif) no-repeat center center;
    width: 47px;
}

.button2 {
    background: url(images/button-61.gif) no-repeat center center;
    width: 61px;
}

.button3 {
    background: url(images/button-69.gif) no-repeat center center;
    width: 69px;
}

.button4 {
    background: url(images/button-92.gif) no-repeat center center;
    width: 92px;
}

.button5 {
    background: url(images/button-112.gif) no-repeat center center;
    width: 112px;
}

.languageField {
  background: #fad38f;
}

.statusMessage {
  background: #f5a71f;
}

.properties {
	 /* border: 2px solid #d86403;*/ 
}
.propertyGroupName {
  background-color: #f5a71f;
  margin-bottom:2px;
  padding: 5px;
  font-weight:bold;
  cursor:pointer;
  white-space:nowrap;
}

.propertyGroupNameSelected {
  background-color: #d86403;
}

.cxs-table {
  border-spacing:0;
	border: 1px solid #7F7F7F;
	border-collapse:collapse;
}
.cxs-table th {
  border:none;
  border-right: 1px solid #CBCBCB;
  margin:0;
  padding: 4px;
	background: url("images/hborder.png") repeat-x 0px -989px;
  font-weight: normal;
  font-size: 13px;
}

.cxs-table .cxs-first td {
  border-top: 1px solid #7F7F7F;
}

.cxs-table td {
  border:none;
  border-right: 1px solid #CBCBCB;
  margin:0;
  padding: 4px;
}

.cxs-table .cxs-odd {
	background-color: #FFF3DF;
}

.cxs-table .cxs-even {
	background-color: white;
}
