@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#5f5f5f;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
	background:#e1e0d5;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:0 0 0 40px;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:0 0;
	margin-top: 8px;
	margin-bottom: 8px;
	color:black;
	font:normal 22px/1.2em Arial, Helvetica, Lucida, sans-serif;
	letter-spacing:-1px;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
	color:#4799dc;
}
h1 small {
	display:block;
	margin:-4px 0;
	padding:0 0 0 134px;
	font:normal 15px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#323a3f;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
	color:#959595;
}
a {
	color:#56acc2;
	text-decoration:underline;
}
.header, .content, .menu, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.content, .fbg {
	background:url(images/bg.gif) repeat-y center;
}
.header {
	background-color:#2e3242;
}

.headerimage {
	margin-left: 24px !important;
	margin-top: 12px !important;
}

.header_resize {
	margin:0 auto;
	padding:0;
	width:970px;
}
.hbg {
	background:#8f525b url(images/image.jpg) no-repeat center top;
	height:231px;
}
.menu {
	margin:0;
	margin-right: 24px;
	padding:38px 0 0;
	float:right;
}
.menu ul {
	list-style:none;
}
.menu .gwt-Hyperlink {
	margin:0;
	padding:0 2px 0 0;
	float:left;
}
.menu .gwt-Hyperlink a, .menu a:visited {
	display:block;
	margin:0;
	padding:0 0 0 14px;
	color:#fff;
	text-decoration:none;
	background:transparent url(images/menu_l.gif) no-repeat left top;
}
.menu .gwt-Hyperlink a span {
	display:block;
	margin:0;
	padding:0 14px 0 0;
	background:transparent url(images/menu_r.gif) no-repeat right top;
}
.menu .gwt-Hyperlink a span span {
	display:block;
	margin:0;
	padding:6px 8px 26px;
	background:transparent url(images/menu.gif) repeat-x top;
}
.menu .gwt-Hyperlink.active a, .menu a:hover {
	background:transparent url(images/menu_al.gif) no-repeat left top;
}
.menu .gwt-Hyperlink.active a span, .menu a:hover span {
	background:transparent url(images/menu_ar.gif) no-repeat right top;
}
.menu .gwt-Hyperlink.active a span span, .menu a:hover span span {
	background:transparent url(images/menu_a.gif) repeat-x top;
}

.content_resize {
	margin:0 auto;
	padding:8px 0 0;
	width:970px;
	background:url(images/content_bg.jpg) no-repeat center top;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:670px;
	background:repeat-x bottom;
}
.content .mainbar img {
	padding:4px;
	border:1px solid #b7b7b7;
	background-color:#fff;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	margin:0;
	padding:16px 0 24px 40px;
}
.content .sidebar {
	padding:0;
	float:right;
	width:300px;
}
.content .sidebar .gadget {
	margin:0;
	padding:16px 16px 24px 40px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 12px;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0 8px 12px;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#5f5f5f;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#4799dc;
	font-weight:bold;
	background:no-repeat left center;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg_resize {
	margin:0 auto;
	padding:16px 40px 24px;
	width:890px;
	background:url(images/fbg_bg.gif) no-repeat center top;
}
.fbg img {
	border:1px solid #d6d6d6;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 46px 0 0;
	width:296px;
}
.fbg .c2 {
	padding:0 16px;
	width:180px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:320px;
}
.fbg .c1 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
#	background-color:#2d2f3d;
	width: 100%;
	color: #2d2f3d;
	height: 40px;
}

.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color:#fff;
}
.footer a {
	color:#2d2f3d;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
div.footer {
	text-align: center;
}

.footer .links {
	margin-top: 4px;
	 width: 450px;
  margin-left: auto ;
  margin-right: auto ;
}

.footer .links td {
	text-align: center;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}

/** DEBUG Styles */

.bordered1 {
	border: 1px solid lime;
}

/** MAIN TABLE */
.mainTable {
	background-color: white;
}


/**** Misc ****/

.ee-ActionImage {
	cursor: pointer;
}

/***** ee-Button *****/

.ee-Button {
	margin:0;
	padding:0 0px 0 0;
	float:left;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.ee-Button div {
	display:block;
	margin:0;
	padding:0 0 0 3px;
	color:#fff;
	text-decoration:none;
	background: transparent url(images/button-l.png) no-repeat left top;
}
.ee-Button div span {
	display:block;
	margin:0;
	padding:0 3px 0 0;
	background:transparent url(images/button-r.png) no-repeat right top;
}
.ee-Button div span span {
	display:block;
	margin:0;
	color: #444;
	padding:7px 8px 15px;
	background:transparent url(images/button-m.png) repeat-x top;
}

.ee-ButtonBar td {
	padding-right: 12px !important;
}

.ee-ButtonBar td td {
	padding-right: 0px;
}

/***** TAB Button *****/

.ee-PullUpTabs-Tab .ee-Button {
	width: 100%;
}

.ee-PullUpTabs-Tab .ee-Button div {
	background: transparent url(images/tab-l.png) no-repeat left top;
	padding:0 0 0 11px;
}

.ee-PullUpTabs-Tab .ee-Button div span {
	padding:0 11px 0 0;
	background:transparent url(images/tab-r.png) no-repeat right top;
}

.ee-PullUpTabs-Tab .ee-Button div span span {
	color: white;
	font-weight: bold;
	font-size: 9pt;
	padding:6px 8px 15px;
	background:transparent url(images/tab-m.png) repeat-x top;
}

/** master detail styles */

.ee-MasterDetailDetailContainer { background-color: #E0E7FC; border: 3px solid #2E3242; margin-top: 12px; margin-bottom: 12px; margin-right: 12px; margin-left: 6px;
-moz-box-shadow: 0 0 3px 3px #888;
-webkit-box-shadow: 0 0 3px 3px #888;
box-shadow: 0 0 3px 3px #888;
-moz-border-radius: 15px;
border-radius: 15px;
}
.ee-MasterDetailErasePanel { background-color: #E0E7FC;}
.ee-MasterDetailSelectionPanel { border: 3px solid #2E3242; margin: 6px;
-moz-box-shadow: 0 0 3px 3px #888;
-webkit-box-shadow: 0 0 3px 3px #888;
box-shadow: 0 0 3px 3px #888;

}
.ee-MasterDetailSelectionPanelContent { border-left: 8px solid #E0E7FC; }
.ee-MasterDetail table.ee-masterDetailTable td { padding: 0px; margin: 0px; padding-right: 12px; }
.ee-MasterDetailSelection td { background-color: #E0E7FC;}

.ee-PullUpTabs-Tab { text-align: center; font-weight: bold; vertical-align: center; }
.ee-PullUpTabs-MainPanel { padding: 18px; }
.ee-PullUpTabs-Panel { padding: 12px; padding-bottom: 24px; background-color: #F7E2C5; border-top: 2px solid #8A5743; border-left: 2px solid #8A5743; border-right: 2px solid #8A5743 }
.ee-MasterDetailTablePanel {
}

.ee-MasterDetailTable {
	/* prevents that table line gets interrupted */
	border-spacing: 0px;
	width: 100%;
}

.ee-MasterDetailTable th.ee-TableFirst {
	margin-left: 40px;
}

.ee-MasterDetailTable .ee-TableLast {
	/* expand last column */
	width: 100%;
}

.ee-MasterDetailMasterContainer .cbg-RPContainer, .ee-MasterDetailHeaderContainer .cbg-RPContainer {
	/* space between rounded panel border and content */
	padding: 12px;
}

.ee-MasterDetailMasterContainer .cbg-RPContainer, .ee-MasterDetailMaster .cbg-RP , .ee-MasterDetailHeaderContainer .cbg-RPContainer {
	/* rounded panels have a white background */
	background-color: white;
}



/* Note this selector is not supported in IE6 */
table.ee-MasterDetailTable>tbody>tr>td {
	border-bottom: 1px solid #E4E4FE;
}

/***** ee-FormTable *****/

.ee-FormTable tr {
	height: 24px;
}

.ee-FormTable td.ee-FormTableSepHelp {
	padding-left: 25px;
}

td.ee-FormTableHelp {
	width: 250px;
	text-align: left;
	margin-left: auto;
}


.ee-FormTable .ee-Help {
	margin-left: 8px;
	margin-right: 8px;
}

/** GlobalStyles */

.detailPanelCloseButton {
	padding: 8px;
}

.emptyPage {
	margin: 24px; 
}

/** Empty page styles */
.emptyPage .cbg-RPContainer {
	/* space between rounded panel border and content */
	padding: 12px;
}

.emptyPage .cbg-RPContainer, .emptyPage .cbg-RP {
	/* rounded panels have a white background */
	background-color: white;
}


/** catalogpage styles */

.productMasterDetail .cbg-RPContainer { background-color: white; }
.productMasterDetail table.ee-MasterDetailTable { width: 100%; }
.productMasterDetail table.ee-MasterDetailTable tr.itemRowChanged td { font-style: italic; }
.productMasterDetail table.ee-MasterDetailTable table.product { width: 100%; cursor: pointer;}
.productMasterDetail table.ee-MasterDetailTable table.product td { border: none;}
.productMasterDetail table.ee-MasterDetailTable td.productTD { width: 100%; padding-left: 5px; padding-right: 5px;}
.productMasterDetail table.ee-MasterDetailTable .productprice { text-align: right; }



table.filterpanel { vertical-align: middle; }
table.filterpanel input.gwt-TextBox { margin-right: 40px; }


.productDetails {
	margin: 20px;
}

.categoryDetails .categoryname.gwt-TextBox {
	font-size: large;
	font:normal 22px/1.2em Arial, Helvetica, Lucida, sans-serif;
	letter-spacing:-1px;
	
}


.productDetails .imagePrice {
	padding-top: 10px;
	padding-bottom: 10px;
}

.productDetails .productprice {
	font-size: medium;
	padding: 20px;
	text-align: right;
}

.productDetails .gwt-TabBarItem {
}

.productDetails  .gwt-TabLayoutPanelTabs {
	background: none;
	background-color: #FFF3DF;
	border-bottom: 1px solid black;
	
}
.productDetails .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border: none;
}
.productDetails .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab {
    float: left;
    padding: 0px 4px 0px 0px;
	cursor: pointer;
}
.productDetails .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTabInner {
	display: block;
    float: left;
    width: auto;
    height: 20px;
    padding: 17px 8px 0px 8px;
    text-decoration: none;
    font-weight: normal;
    color: #434242;
}

.productDetails .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-selected {
	cursor: default;
	background: none;
}

.productDetails .gwt-TabPanel {
	width: 100%;
}

.categoryDetails .categoryProperties {
	width: 100%;
}

.itemPropertyValues {
	width: 100%;
}

.itemPropertyValues .valueParent {
	width: 100%;
}
.itemPropertyValues .valueParent .valueWidget {
	width: 100%;
}

.itemPropertyValues .groupInherited {
	color: gray
}

.categoryDetails .itemPropertyValues .valueParent.inherited .valueWidget {
	color: gray;
}

.categoryDetails .itemPropertyValues .valueParent.inherited .valueWidget input {
	color: gray;
}

.categoryDetails .itemPropertyValues .valueParent.inherited .valueWidget {
	color: gray;
}

.categoryDetails .itemPropertyValues .valueParent.overridden .valueWidget {
	color: blue;
}

.productDetails .itemPropertyValues .valueParent.inherited .valueWidget {
	color: gray;
}
.productDetails .itemPropertyValues .valueParent.overridden .valueWidget {
	color: blue;
}

.productDetails .valueParent {
	width: 100%;
}
.productDetails .valueParent .valueWidget {
	width: 100%;
}

.categoryDetails .valueParent {
	width: 100%;
}
.categoryDetails .valueParent .valueWidget {
	width: 100%;
}


/*.productDetails .valueParent .valueWidget .upld-form-elements .hoverStyle input {*/
.GWTUpld .hoverStyle input, .GWTUpld .hoverStyle input button{
	visibility: visible;
}
/*.productDetails .valueParent .valueWidget upld-form-elements .noHoverStyle input {*/
.GWTUpld .noHoverStyle input, .GWTUpld .noHoverStyle button {
	visibility: hidden;
}
	
.productDetails input.derived { 
	color: blue;
}

.productDetails img.clear {
	background:  url(images/closeButton2.png);
	width: 14px;
	height: 14px;
	border: none;
	
}

.productDetails img.inherited {
	background: url(images/closeButton1.png);
	width: 14px;
	height: 14px;
}

.productDetails img.clear:hover {
	background: url(images/closeButton3.png);
	width: 14px;
	height: 14px;
}

.itemPropertyValues img.clear {
	background:  url(images/closeButton2.png);
	width: 14px;
	height: 14px;
	border: none;
	
}

.itemPropertyValues img.inherited {
	background: url(images/closeButton1.png);
	width: 14px;
	height: 14px;
}

.itemPropertyValues img.clear:hover {
	background: url(images/closeButton3.png);
	width: 14px;
	height: 14px;
}

.itemPropertyValues .source {
	visibility: hidden;
	margin-left: 5px;
	font-style: italic;
}
.itemPropertyValues tr.itemPropertyValueRow:hover .source {
	visibility: visible;
	color: gray;
}

/** Taxonomy Page */

.categoryMasterDetail .cbg-RPContainer { background-color: white; }
.categoryMasterDetail table.ee-MasterDetailTable { width: 100%; }
.categoryMasterDetail table.ee-MasterDetailTable tr.itemRowChanged td { font-style: italic; }
.categoryMasterDetail table.ee-MasterDetailTable table.category { cursor: pointer;}
.categoryMasterDetail table.ee-MasterDetailTable table.category td { border: none;}
.categoryMasterDetail table.ee-MasterDetailTable td.categoryTD { width: 100%; padding-left: 5px; padding-right: 5px;}
.categoryMasterDetail table.ee-MasterDetailTable .categoryprice { text-align: right; }


table.ee-MasterDetailTable a.gwt-Anchor.categoryname {
	cursor: hand;
}
.ee-MasterDetailTable .categoryNewSubCategory {
	font-style: italic;
	margin-left: 30px;
	visibility: hidden;
}

.ee-MasterDetailTable tr:hover .categoryNewSubCategory {
	visibility: visible;
}

/** Categories component */
.categoryStyle {
	margin-left: 10px;
}
.categoryStyle table {
	border-spacing: 0px;
}
.categoryStyle table td {
	border-collapse: collapse;
	padding: 0px;
}
.categoryStyle a {
	font-size: x-small;
	text-decoration: none;
	color: #5A6986;
#	background-color: #DEE5F2;
	background-color: white;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right : 4px;
}
.categoryStyle a:hover {
#	color: #DEE5F2;
	color: white;
	background-color: #5A6986;
}

.categoryStyle a.categoryName {
	border-right: 1px solid black;
	padding-right: 6px;
}

.categoryStyle a.categoryAdd {
	margin-left: 10px;
}

.categoryTree .gwt-TreeItem {
	font-size: x-small;
	text-decoration: none;
	color: #5A6986;
#	background-color: #DEE5F2;
	background-color: white;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 6px;
}
.categoryTree .gwt-TreeItem:hover {
#	color: #DEE5F2;
	color: white;
	background-color: #5A6986;
}

/** Languages component */
.languageStyle {
	margin-left: 4px;
	margin-right: 6px;
}
.languageStyle table {
	border-spacing: 0px;
}
.languageStyle table td {
	border-collapse: collapse;
	padding: 0px;
}
.languageStyle a {
	font-size: x-small;
	text-decoration: none;
	color: #5A6986;
#	background-color: #DEE5F2;
	background-color: white;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right : 4px;
}
.languageStyle a:hover {
#	color: #DEE5F2;
	color: white;
	background-color: #5A6986;
}

.languageStyle a.languageName {
	border-right: 1px solid black;
	padding-right: 6px;
}

.languageStyle a.languageAdd {
	margin-left: 6px;
}

.languageList .gwt-Label {
	font-size: x-small;
	text-decoration: none;
	color: #5A6986;
#	background-color: #DEE5F2;
	background-color: white;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 6px;
	cursor: pointer;
}
.languageList .gwt-Label:hover {
#	color: #DEE5F2;
	color: white;
	background-color: #5A6986;
}

.masterdetailtest { padding: 5px;}


/** Order Styles */

.orderRibbon {
	padding: 5px;
}

/** Import Styles */

.ImportPage .ee-MasterDetailMaster td img {
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
}

.ImportLogPanel {
	width: 100%;
}

.ImportLogPanel .logText  {
	border: 1px solid gray;
	font-family: Courier;
	background-color: white;
}

.ImportMainPanel h1 {
	margin-right: 12px;
}

.ImportMainPanel .statusTable {
	margin-top: 8px;
	margin-bottom: 8px;
}

.ImportMainPanel .statusTable td {
	padding-right: 12px;
}
	
.ImportMainPanel .statusTable td {
	vertical-align: top;
}


.ImportMainPanel .statusTable img {
	padding-top: 4px;
}

.MultiFileImportPanel .ee-FormTable {
	height: 120px;
}

.ImportDataMappingPanel .ee-FormTable {
	height: 80px;
}	