<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl-nl" lang="nl-nl"><head><title>Plantin Display</title>
<link rel="shortcut icon" href="/templates/plantin/images/assets/fav.ico" type="image/x-icon" />
<link rel="stylesheet" href="/templates/plantin/css/master.css" type="text/css" media="screen" /><script type="text/javascript" src="ajax/libs/jquery/1.4.2/jquery.min.js"></script><script src="/templates/plantin/js/jquery.tools.min.js" type="text/javascript"></script><script src="/templates/plantin/js/jquery.clearfield.js" type="text/javascript"></script><script type="text/javascript" src="/templates/plantin/js/master.js"></script>
<!--[if IE]>
        <script type="text/javascript" src="http://ptdisplay.eu/templates/plantin/js/ie.js"></script>
<![endif]-->
<!--[if IE 6]>
        
<link rel="stylesheet" href="http://ptdisplay.eu/templates/plantin/css/ie6.css" type="text/css"/>
<![endif]-->
<!--[if IE 7]>
        
<link rel="stylesheet" href="http://ptdisplay.eu/templates/plantin/css/ie7.css" type="text/css"/>
<![endif]-->
<!--[if IE 8]>
        
<link rel="stylesheet" href="http://ptdisplay.eu/templates/plantin/css/ie8.css" type="text/css"/>
<![endif]-->
<script type="text/javascript" src="/ajax_request/liftAjax.js"></script> 
<script id="jquery" src="/js/jquery-1.4.2.min.js" type="text/javascript"/>
<script id="json" src="/classpath/json.js" type="text/javascript"/>

</head><body>
<!-- wrapper -->
<div id="wrapper">
<!-- header -->
<div id="header">
<div id="inner-header"><h1 id="logo">
<a href="">Plantin Display</a></h1>
<!-- top-nav -->
<div id="top-nav">
<div class="left" style="display: none;">
<a href="#">Online bestellen</a>
</div>
	<div style="float:right; position:absolute; left: -120px; top:10px;" id="cart-items">
		<webshop:shopping-cart>
		<p><span>You have <b><shopping-cart:item-count/></b> items in your cart</span> <a href="/cart" class="button2">View Cart</a></p>
		</webshop:shopping-cart>
	</div>
<div class="right">

<div id="jflanguageselection">
<ul class="jflanguageselection">
<li>
<a href="http://ptdisplay.eu/index.php?option=com_yourstore&amp;Itemid=5&amp;lang=fr&amp;param=/ssearch/all/1/"><span lang="fr" xml:lang="fr">FR</span></a></li>
<li id="active_language">
<a href="http://ptdisplay.eu/index.php?option=com_yourstore&amp;Itemid=5&amp;lang=nl&amp;param=/ssearch/all/1/"><span lang="nl" xml:lang="nl">NL</span></a></li></ul>
</div>
<!--Joom!fish V2.0.4 (Lightning)-->
<!-- &copy; 2003-2009 Think Network, released under the GPL. -->
<!-- More information: at http://www.joomfish.net -->
</div>
</div>
<!-- /top-nav -->
<!-- nav -->
<div id="nav">
<ul class="menu">
<li class="item1">
<a href="/home"><span>Home</span></a></li>
<li class="item4">
<a href="/home?option=com_content&amp;view=category&amp;layout=blog&amp;id=2&amp;Itemid=4&amp;lang=nl"><span>Nieuws</span></a></li>
<li id="current" class="parent active item5">
<a href="/producten"><span>Producten</span></a>
<ul>
<li class="item9">
<a href="/producten"><span>Sign</span></a></li>
<li class="item17">
<a href="/producten"><span>2e Hands Machines</span></a></li>
<li class="item17">
<a href="http://demoinstall.grafiportal.nl/Webshop/ExternalLogin.aspx?returnurl=http://demoinstall.grafiportal.nl/Webshop/&amp;username=info@ptdisplay.eu&amp;password=isi"><span>Web-to-print</span></a></li>
</ul></li>
<li class="item6">
<a href="/home?option=com_content&amp;view=article&amp;id=3&amp;Itemid=6&amp;lang=nl"><span>Over ons</span></a></li>
<li class="item8">
<a href="/home?option=com_rsform&amp;Itemid=8&amp;lang=nl"><span>Contact</span></a></li></ul>
<div id="search" class="group"><form action="?option=com_yourstore&amp;Itemid=5&amp;lang=nl" id="frm-search" method="post"><fieldset><label for="txt-search">Search:</label> <input type="text" value=" Zoeken ..." id="txt-search" name="query" class="clearfield clearFieldBlurred" rel=" Zoeken ..." /></fieldset><button name="btn-search" id="btn-search"><span>Search</span></button></form>
</div>
</div>
<!-- /nav -->
</div>
<!-- /inner-header -->
</div>
<!-- /header -->
<!-- content -->
<div id="content">
<!-- content-wrapper -->
<div class="content-wrapper dashed-line-1 group">
<!-- content -->
<div class="right col-2">
<template:content />


<!-- pagination & sort options -->
<div class="pagination-sort-bottom group row">
<!--
               
<ul class="sort left">
                   <form method="post" action="#">
                   
<li class="sort-title">Sort by</li>
                   
<li class="last">
                       <select name="select-sort">
                           

<option value="1">By name</option>
                       </select>
                   </li>
                   </form>
               </ul>
               
              
               
               -->
</div>
<!-- /pagination & sort options -->
</div>
<!-- content -->
<!-- refine -->
<div id="refine" class="left col-1"><h2>Verfijnen</h2>

<ul class="filters"></ul>
<webshop:top-level-categories>
	<ul class="facets">
		<list:group>
          	<template:include template="templates/category_menu_node" />
		</list:group>
    </ul>
</webshop:top-level-categories>




<!-- /refine -->
</div>
<!-- content-wrapper -->
</div>
</div>
<!-- /content -->
<!-- footer -->
<div id="footer">
<div id="inner-footer">
<ul class="menu" id="footer-nav">
<li class="item14"><span class="separator"><span>Copyright © 2010 Plantin Tetterode Display</span></span></li>
<li class="item13">
<a href="/home?option=com_content&amp;view=article&amp;id=10&amp;Itemid=13&amp;lang=nl"><span>Nieuwsbrief</span></a></li>
<li class="item15">
<a href="http://ptdisplay.eu/index.php?option=com_rsform&amp;Itemid=8"><span>Contact</span></a></li></ul>
</div>
</div>
<!-- /footer -->
</div>
<!-- /wrapper --></body>
</html>