<div class="side_bar" id="right_bar"> 
  <div class="page_searchbox">
    <webshop:search-form form="POST"> 
      <table> 
        <tr> 
          <td><search:search-string class="formfield searchfield"/></td> 
          <td><search:submit class="formbutton"/></td> 
        </tr> 
      </table> 
    </webshop:search-form> 
    <form method="post" action="http://nieuwsbrief.netrex.eu/netrexmail/form.php?form=23" id="frmSS23" onSubmit="return CheckForm23(this);"> 
      <table style="margin-top:5px;"> 
        <tr> 
          <td><input type="text" class="formfield newsfield" value="Nieuwsbrief" name="email" onclick="javascript:this.value=(this.value == 'Nieuwsbrief' ? '' : this.value);" /></td> 
          <td><input type="submit" class="formbutton newsbutton" value="Aanmelden" /></td> 
        </tr> 
      </table> 
    </form> 
  </div>
  <hr/>
  <img src="/images/tetterode_building.jpg" title="Tetterode producten"/>
  <hr/> 
  <div class="side_bar_panel"> 
  	<template:include template="templates/filters"/>
  </div>
  <cms:locales><list:plural>
  <hr/> 
  <div class="side_bar_panel loginpanel"> 
  <h1>Choose Language</h1>
  <list:repeat><locale:select-link><locale:short/> </locale:select-link></list:repeat>
  </div>
  </list:plural></cms:locales>		  
  
  <hr/> 
<!-- 
    <webshop:current-user>
    <object:none>
  <div class="side_bar_panel loginpanel"> 
    <h1>Login</h1>
    <webshop:login-form>
      <table> 
        <tr><td><form:email-field class="formfield emailfield"/></td></tr>
        <tr><td><form:password-field class="formfield passwordfield"/>
        <form:login-button class="formbutton"/></td>
        </tr>
        <form:failure> 
        <tr><td><span class="error">Invalid user name or password</span></td></tr>
        <tr><td><form:forgot-password-link>Forgot password? &gt;&gt;</form:forgot-password-link></td></tr>
        </form:failure>
      </table> 
    </webshop:login-form>
     <a href="/register">Register as new customer &gt;&gt;</a>
  </div>
  <hr/> 
    </object:none>
    </webshop:current-user>
   --> 
  <div class="side_bar_panel"> 
    <h1>Order status</h1>
    <webshop:shopping-cart>
      <shopping-cart:items>
        <table>
      <list:repeat>
          <tr>
            <item:product>
              <td><product:value property="Name"/></td>
            </item:product>
			<td/>
            <td style="text-align:right;"><item:total-price/></td>
          </tr>
      </list:repeat>
       <shopping-cart:total-prices>
          <tr>
            <td colspan="1"><list:first><b>Total:</b></list:first></td>
			<td>&#160;</td>
            <td style="text-align:right;"><b><total-price:format/></b></td>
          </tr>
       </shopping-cart:total-prices>
        </table>
<!--		  <div class="order_status" >
		    <div><shopping-cart:link><b><lift:loc>Shopping Cart</lift:loc> &gt;&gt;</b></shopping-cart:link></div>
		  </div>
-->
    <div class="button-bar">
	<shopping-cart:link class="button">Order Now</shopping-cart:link>
    </div>
        <list:none>There are no items in the shopping cart</list:none>
      </shopping-cart:items>

    </webshop:shopping-cart>
    <div id="order_status"><liftembed what="order_status" /></div>
  </div> 
  <div class="page_menu_footer"></div> 
</div>
