website.path=/webshop
website.components=claro.cms.webshop.WebshopComponent
entitymanager.javax.persistence.jdbc.driver = org.postgresql.Driver
entitymanager.javax.persistence.jdbc.url = jdbc:postgresql:postgres
entitymanager.javax.persistence.jdbc.user = postgres
entitymanager.javax.persistence.jdbc.password = postgres